[Unit]
Description=Lockscreen
Before=sleep.target
Before=suspend.target
Before=hibernate.target

[Service]
Type=simple
User=kokopi
Environment=DISPLAY=:0
ExecStart=/bin/betterlockscreen -l
ExecStartPost=systemctl suspend-then-hibernate

[Install]
WantedBy=sleep.target
WantedBy=suspend.target
WantedBy=hibernate.target
