QTabBar,
QTabBar::tab
{
    font-family: "Droid Sans Mono";
    font-size: 10px;
    height: 16px;
    padding: 0px;
    border: 0px;
    background-color: rgb(25, 25, 25);
    color: #fff;
}

QTabBar::tab:hover
{
    text-decoration: underline;
}

QTabBar::tab:selected
{
    color: #73FFD1;
    padding: 0px;
    border: 0px;
    background-color: rgb(25, 25, 25);
}
