/* Search for this section in /usr/share/themes/phocus/gtk-3.0/gtk.css
 * Then swap that section with the one below here
 */
window.thunar {
  background: none;
  /* hide separator */ }
  window.thunar treeview {
    background: none; }
  window.thunar grid *:selected,
  window.thunar grid *:active {
    background: #585e74;
    border-radius: 3px; }
  window.thunar .sidebar {
    background-color: rgba(40, 40, 40, 0.5);
    /*box-shadow: inset 0px 0px 0px 0px rgba(0, 0, 0, 1);*/
    padding: 1rem; }
  window.thunar treeview {
    padding: 3px; }
    window.thunar treeview:selected {
      background: #ccaced; }
  window.thunar .frame {
    border: 0px; }
  window.thunar toolbar box {
    padding: 5px; }
  window.thunar paned grid {
    background: #30333d; }
  window.thunar toolbar {
    background: rgba(41, 43, 52, 0.8);
    padding: 5px 0; }
  window.thunar toolbar * {
    background: none; }
  window.thunar separator {
    background-image: image(#585e74);
    background-size: 1px 1px;
    background-position: center center; }
